<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="css/stye.css">
</head>
<body>
    <header>
        <nav>
            <h1>Java Full Stack.</h1>
           
                <a href="/index">Home</a>
               
                <a href="/project">Projects</a>
                <a href="pdf/Nishant.Resume.pdf">Resume</a>
              
                
                
            
            <div class="multilingual">
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
            <button class="hire-me"><a href="/hireme">Hire Me</a></button>
        </nav>
    </header>
    <main>
        <section class="intro">
            <div class="intro-text">
                <h2>Hello, I'm Java Full Stack Developer</h2>
                <h3>Freelancer</h3>
                <p>Crafting seamless solutions from front-end elegance to back-end brilliance.</p>
                <div class="buttons">
                    <button class="hire-me"><a href="/hireme">Hire Me</a></button>
                    <button class="resume"><a href="pdf/Nishant.Resume.pdf">Resume</a></button>
                </div>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/nishant-ingawale-a1902422a/"><img src="icons/linkedin.webp" alt="LinkedIn"></a>
                    <a href="https://www.instagram.com/mr_nishant_1308/"><img src="icons/insta.jpg" alt="Instagram"></a>
                    <a href="https://github.com/Nishant1321"><img src="icons/github.jpg" alt="GitHub"></a>
                    <a href="https://www.facebook.com/nishant.ingawale/"><img src="icons/facebook.png" alt="Facebook"></a>
                </div>
            </div>
            <div class="intro-image">
                <img src="image/WhatsApp Image 2024-06-17 at 9.58.48 AM.jpeg" alt="Web Dev">
            </div>
        </section>
        <section class="aboutme">
            <h2 id="aboutme">About Me</h2>
            <p>Hello! I'm Nishant Ingawale, an aspiring Java Full Stack Developer embarking on an exciting journey into the world of software development. With a strong foundation in Java programming and a passion for learning, I am eager to leverage my skills to create innovative solutions and grow as a professional.

                My educational background in BTECH. (Computer Science & Engineering) provided me with solid fundamentals in programming logic, data structures, and object-oriented design. I am proficient in technologies such as Java, HTML/CSS, and JavaScript, and I'm enthusiastic about expanding my knowledge across the full stack, including frameworks like Spring Boot.
                
                As a freelancer, I am committed to delivering high-quality work and exceeding client expectations. Though I may lack professional experience, I compensate with dedication, a proactive approach, and a willingness to tackle challenges head-on. I am eager to collaborate on projects that not only enhance my skills but also contribute positively to my clients' objectives.
                
                Outside of coding, I enjoy exploring new technologies, participating in online communities, and continuously honing my craft through tutorials and personal projects. I am excited about the opportunity to learn and grow alongside industry professionals and contribute meaningfully to impactful projects.</p>
        </section>
        <section class="skill">
            <h2>Skill</h2>
            
                <p>• Java</P>  
                <p>• CSS </P>    
                <p>• Python </P>             
                <p>• C++   </P>              
                <p>• Flutter</P>            
                <p>• C    </P>               
                <p>• PHP  </P>              
                <p>• JDBC  </P> 
                <p>• Maven</p> 
                 <p>• JPA</p>   
                 <p>• MVC</p> 
                  <p>• JavaScript</p> 
                  <p>• SpringBoot</p>
                  <p>• Spring</p>
                  <p>• Hibernate</p> 
                  <p>• HTML</p>      
            
            <h3>Familiar with</h3>
            <ol type="i">
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Hadoop</li> 
                <li>AWS</li>
                <li>React</li>
            </ol>
        </section>
        <section class="projects">
            <h2>Academic Projects</h2>
            <ul>
            <ol type="I">
                <li>
                    <h3>The Brand New MOMOS</h3>
                    <p>Build a website for a momos store for online orders also customers can book a table. 
                        Used technologies like HTML, PHP, CSS, and MySQL for database.</p>
                </li>
                <li>
                    <h3>Blood Bank</h3>
                    <p>Build a DBMS based Blood Bank Portal. Users can check the availability of blood and 
                        order it. Also, end to end Database focused portal User registration, organizing 
                        information and fixing appointments with Donation Camp professionals - MySQL, 
                        Node.js, JavaScript, HTML, CSS Bootstrap.
                    </p>
                </li>
                <li>
                    <h3>Smart Energy Meter</h3>
                    <p>Developed an IOT device to overcome ordinary electric meters. We displayed real-time current readings online and controlled home appliances using the BLYNK 
                        platform and bill generator with Include Home Automation. Used technologies like
                        Arduino software to write and upload code in Arduino ESP32 also used components 
                        such as current sensor, resistors, breadboard, wires, LED bulbs, capacitor, buttons, 
                        and ZMPT101B voltage sensor.</p>
                </li>
                <li>
                    <h3>Delivery Drone</h3>
                    <p>Inspiring for SIH 2023 problem statement & developing drone. The drone can able to
                        deliver goods up to 500gm. And also fly the drone automatically. We used ml – algorithm, 
                        Artificial Intelligence, Drone technology After the set location drone can fly automatically and 
                        delivered the product automatically.</p>
                </li>
                <li>
                    <h3>Unleashing the Power Of Women</h3>
                    <p>Build an app which is a revolutionary genie app designed to empower women in navigating 
                        career challenges. We used technology - Java, JavaScript, Spring Boot, HTML, CSS Bootstrap,
                        Machine Learning, MySQL, Hibernate.</p>
                </li>
            </ul>
        </section>
        <section class="internship">
            <h2>Internship</h2>
            <ul>
                <li>
                    <h3>1. YHills Internship</h3>
                    <p>Machine Learning at YHills from (01/03/2023 to 30/04/2023)</p>
                    <p><b>Project –</b> Taxi Fair Prediction</p>
                </li>
                <li>
                    <h3>2. Symbiosis (Capgemini)</h3>
                    <p>Java Full Stack at Symbiosis (Capgemini) from (24/01/2024 to 04/05/2024)</p>
                    <p><b>Project –</b> Event Management System</p>
                </li>
            </ul>
        </section>
        <section class="education">
            <h2>Education</h2>
            <table border="1">
                <tr>
                    <th>Institute Name</th>
                    <th>Passing Year</th>
                    <th>CGPA/Percentage</th>
                </tr>
                <tr>
                    <td>KBPCOES</td>
                    <td>2024</td>
                    <td>8.00</td>
                </tr>
                <tr>
                    <td>YCIS</td>
                    <td>2020</td>
                    <td>6.62%</td>
                </tr>
                <tr>
                    <td>New English School</td>
                    <td>2018</td>
                    <td>7.77%</td>
                </tr>
            </table>
        </section>
    </main>
    <center><h1>Contact Us </h1></center>
        <section class="contact-form">
            <form th:action="@{/contactstatus}" th:object="${contact}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" th:field="*{name}" required placeholder="Enter your name">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" th:field="*{email}" required placeholder="Enter your Email">
                <label for="subject">Subject:</label>
                <input type="text" id="subject" name="subject" th:field="*{subject}" required placeholder="Subject">
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="6" th:field="*{message}" required placeholder="Message"></textarea>
                <button type="submit">Send Message</button>
            </form>
        </section>
        <footer>
        <h2>Contact Us</h2>
        <ul>
            <li>Email: <a href="mailto:nishantingawale13@gmail.com">nishantingawale13@gmail.com</a></li>
            <li>Contact Number: 9359248942</li>
        </ul>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
